nav {
  position: absolute;
  top: 3%;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav li {
  margin: 0 10px;
}

ion-icon {
  font-size: 30px;
}

.home{
  left:0%;
}
.upload{
  right: 10%;
}
.profile{
 right: 5%;
}
.signup{
  right:5%
}